@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutPageRestaurant.cshtml";
    ShipFood.Models.tbQuanAn quanAn = ViewBag.quanAn;
    List<ShipFood.Models.tbDanhGia> danhGias = ViewBag.danhgias;
}
<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Xin chào, chào mừng trở lại!</h4>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Hồ sơ</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="profile card card-body px-3 pt-3 pb-0">
                <div class="profile-head">
                    <div class="photo-content">
                        <div class="cover-photo"></div>
                    </div>
                    <div class="profile-info">
                        <div class="profile-photo">
                            <img src="~/Source/Restaurant/images/profile/jolibe.jpg" class="img-fluid rounded-circle" alt="" />
                        </div>
                        <div class="profile-details">
                            <div class="profile-name px-3 pt-2">
                                <h4 class="text-primary mb-0">@quanAn.tenquanan</h4>
                                <p>Resaurant</p>
                            </div>
                            <div class="profile-email px-2 pt-2">
                                <h4 class="text-muted mb-0">@quanAn.tbUser.username</h4>
                                <p>Tài khoản</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"
        <div class="col-xl-12">
            <div style="width:100%" class="card">
                <div class="card-body">
                    <div class="profile-tab">
                        <div class="custom-tab-1">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                </li>
                                <li class="nav-item"><a href="#about-me" data-toggle="tab" class="nav-link">Về Cửa hàng</a></li>
                                <li class="nav-item">
                                    <a href="#profile-settings" data-toggle="tab" class="nav-link">Cài đặt</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="my-posts" class="tab-pane fade active show">
                                    <div class="my-post-content pt-3">
                                        <div class="post-input">
                                            @danhGias.Count Đánh giá
                                        </div>
                                        @foreach (var i in danhGias)
                                        {
                                            <div class="profile-uoloaded-post border-bottom-1 pb-5">
                                                <img style="width:100%;height:300px" src="~/Source/Restaurant/images/dish/pic1.jpg" alt="" class="img-fluid" />
                                                <a class="post-title" href="javascript:void()">
                                                    <h4>@i.tbChiTietDonHang.tbDonHang.tbThongTinDatHang.tbKhachHang.tenkh</h4>
                                                </a>
                                                <p>
                                                    @i.nhanxet
                                                </p>
                                                <button class="btn btn-primary mr-2">
                                                    <span class="mr-2"><i class="fa fa-heart"></i></span>Like
                                                </button>
                                                <button class="btn btn-secondary">
                                                    <span class="mr-2"><i class="fa fa-reply"></i></span>Reply
                                                </button>
                                            </div>
                                        }
                                        <div class="text-center mb-2">
                                            <a href="javascript:void()" class="btn btn-primary">Tải thêm</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="about-me" class="tab-pane fade">
                                    <div class="profile-about-me">
                                        <div class="pt-4 border-bottom-1 pb-3">
                                            <h4 class="text-primary">Về chúng tôi</h4>
                                            <p class="mb-2">
                                                A wonderful serenity has taken possession of my entire soul, like these sweet mornings
                                                of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence
                                                was created for the bliss of souls like mine.I am so happy, my dear friend, so absorbed
                                                in the exquisite sense of mere tranquil existence, that I neglect my talents.
                                            </p>
                                            <p>
                                                A collection of textile samples lay spread out on the table - Samsa was a travelling
                                                salesman - and above it there hung a picture that he had recently cut out of an
                                                illustrated magazine and housed in a nice, gilded frame.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div id="profile-settings" class="tab-pane fade">
                                    <div class="pt-3">
                                        <div class="settings-form">
                                            <h4 class="text-primary">Cài đặt tài khoản</h4>
                                            <form action="~/Restaurant/Profile" method="post" enctype="multipart/form-data">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label>Tên quán ăn</label>
                                                        <input type="text" placeholder="Tên quán ăn" name="tenquanan" value="@quanAn.tenquanan" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Password</label>
                                                        <input type="password" placeholder="Password" name="pwd" value="@quanAn.tbUser.pwd" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Địa chỉ</label>
                                                    <input type="text" placeholder="Địa chỉ" value="@quanAn.diachi" name="diachi" class="form-control" />
                                                </div>
                                                <div class="form-row">
                                                   
                                                    <div style=" margin-bottom: 50px; border: 1px solid; border-radius:20px" id="bg_add"></div>
                                                </div>

                                                <button class="btn btn-primary" type="submit">Cập nhật</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function uploadImage() {
        var fileInput = document.getElementById('hinh-anh');
        var file = fileInput.files[0];
        var imageType = /image.*/;

        if (file.type.match(imageType)) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var img = new Image();
                img.src = reader.result;
                img.width = 300;
                var imagePreview = document.getElementById('bg_add');
                imagePreview.innerHTML = '';
                imagePreview.appendChild(img);
            }

            reader.readAsDataURL(file);
        }
        else {
            alert('Chỉ chấp nhận file hình ảnh');
        }
    }
    document.getElementById('hinh-anh').addEventListener('change', uploadImage);</script>