@model List<ShipFood.Models.tbDonHang>
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_LayoutPageAmin.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Đơn hàng</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Danh sách đơn hàng, chỉ những đơn hàng shipper nhận rồi mới xem được chi tiết</a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm mb-0">
                                <thead>
                                    <tr>
                                        <th class="align-middle">Đơn hàng</th>
                                        <th class="align-middle pr-7">Ngày</th>
                                        <th class="align-middle" style="min-width: 12.5rem">Giao đến</th>
                                        <th class="align-middle text-right">Trạng thái</th>
                                        <th class="align-middle text-right">Tổng tiền</th>
                                        <th class="no-sort"></th>
                                    </tr>
                                </thead>
                                <tbody id="orders">
                                    @foreach(var item in Model) { 
                                    <tr class="btn-reveal-trigger">
                                        <td class="py-2">
                                            <a href="management-order-details.html"> <strong>#@item.madh</strong></a> bởi tài xế
                                            <strong>@(item.tbShipper == null ? "Trống" : item.tbShipper.tenshipper)</strong><br /><strong>@item.tbQuanAn.tenquanan</strong>
                                        </td>
                                        <td class="py-2">@item.ngaydathang.Value.ToString("dd/MM/yyyy")</td>
                                        <td class="py-2">
                                            <strong>@item.tbThongTinDatHang.tennguoinhan</strong>, @item.tbThongTinDatHang.diachi
                                            <p class="mb-0 text-500">@item.ghichu</p>
                                        </td>
                                        <td class="py-2 text-right">
                                            @{ if (item.trangthai == "Đã đặt" || item.trangthai == "Đã lấy")
                                                {
                                                    <span class="badge badge-primary">Xử lí<span class="ml-1 fa fa-redo"></span></span>
                                                }
                                                if (item.trangthai == "Đã hủy")
                                                {
                                                    <span class="badge badge-warning">Đã hủy<span class="ml-1 fas fa-stream"></span></span>
                                                }
                                                if (item.trangthai == "Hoàn thành")
                                                {
                                                    <span class="badge badge-success">Hoàn Thành<span class="ml-1 fa fa-check"></span></span>
                                                }
                                            }
                                        </td>
                                        <td class="py-2 text-right">@item.tongtien.Value.ToString("N0") VNĐ</td>
                                        <td class="py-2 text-right">
                                            <div class="dropdown text-sans-serif">
                                                <button class="btn btn-primary tp-btn-light sharp"
                                                        type="button"
                                                        id="order-dropdown-0"
                                                        data-toggle="dropdown"
                                                        data-boundary="viewport"
                                                        aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <span>
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                                             width="18px"
                                                             height="18px"
                                                             viewBox="0 0 24 24"
                                                             version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                                <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                                                <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                                                <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right border py-0"
                                                     aria-labelledby="order-dropdown-0">
                                                    <div class="py-2">
                                                        <a class="dropdown-item" href="@Url.Action("OrderDetail","Admin", new {id =item.madh })">Xem chi tiết</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-danger" href="#!">Xóa</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

